@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Ticket Tracker</h1>
    <p><a asp-controller="Ticket" asp-action="AddTicketForm">Add a new ticket</a></p>
</div>


<div class="text-center">
    <p><a asp-controller="Ticket" asp-action="Index">View all tickets</a></p>
</div>




