@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Ticket Tracker</h1>
    <p><a asp-controller="Ticket" asp-action="AddTicketForm">Add a new ticket</a></p>
</div>



<h1>List of tickets</h1>
@if (ViewBag.tickets == null)
{
    <p>No tickets!</p>
}
else
{
    <table class="table table-light">
        <tr>
            <th>Date and Time</th>
            <th>Issue</th>
            <th>Details</th>
        </tr>
        
            @foreach(Ticket ticket in ViewBag.tickets)
            {
                <tr>
            <td>@ticket.Issue</td>
            <td>@ticket.Details</td>
            </tr>
            }
       
    </table>
}
