@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Ticket Tracker</h1>
    <p><a asp-controller="Home" asp-action="AddJob">Add a new ticket</a></p>
    <p><a asp-controller="List" asp-action="Index">View open tickets</a></p>
</div>


    <table class="table">
        <tr>
            <th>Date and Time</th>
            <th>Issue</th>

        </tr>
    </table>