@using TicketTracker.ViewModels;
@model AddTicketFormViewModel;

@{
    ViewData["Title"] = "New Ticket Form";
}


<h1>Add New Ticket</h1>
<form aspcontroller="Ticket" asp-action="AddTicket" method="post">

    <label asp-for="Issue"> Issue: 
        <input type="text" asp-for="Issue" />
        <span asp-validation-for="Issue"></span>
    </label>
    <br/>
    <label asp-for="Details"> Details:
        <input type="text" asp-for="Details" />
        <span asp-validation-for="Details"></span>
    </label>
    <br/>
    <label asp-for="GetDate"> Date and time of occurence: 
        <input id="getdate" type="datetime-local" asp-for="GetDate" />
        <span asp-validation-for="GetDate"></span>
    </label>
    <br/>
        <input type="submit" value="Add New Ticket"/>
</form>