@{
    ViewData["Title"] = "New Ticket Form";
}
<h1>Add New Ticket</h1>
<form method="post" action="/adding">

    <label> Issue: 
    <input type="text" name="issue" />
    </label>
    <br/>
    <label> Details:
    <input type="text" name="details" />
    </label>
    <br/>

    <input type="submit" value="Add New Ticket"/>
</form>