@{
    ViewData["Title"] = "Ticket List";
}

<h1>List of tickets</h1>

<table class="table table-light">
    <tr>
        <th>Date and Time</th>
        <th>Issue</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Date and Time place holder</td>
        <td>@ViewBag.Issue</td>
        <td>@ViewBag.Details</td>
        <td>  
            <input type="submit" value="View Ticket"/>
        </td>
    </tr>
</table>